<%# -*- coding: utf-8 -*-%>

<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title>データの表示</title>
	<link rel="stylesheet" href="./dist/css/common.css" type="text/css" >
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
</head>
<body>
<header class="header is-fixed js-header-position">
	<p class="header__text"><a href="./">ここはヘッダーコンテントです</a></p>
</header>
<div class="player-manage">
	<div class="player-manage__title">
		<h1>選手データの登録</h1>
	</div>
	<p>下記のデータを登録しました</p>
	<ul class="menu-horizon">
		<li class="menu-horizon__item"><a href="list.erb">選手データの表示</a></li>
		<li class="menu-horizon__item"><a href="./">メニューに戻る</a></li>
	</ul>
	<table  class="data-list">
		<thead>
		<tr>
			<th class="data-list__title">項目名</th>
			<th class="data-list__title">入力データ</th>
		</tr>
		</thead>
		<tbody>
			<% ['id','name','position','grade'].each do |name| %>
				<tr>
					<td class="data-list__item data-list__item--record-title"><%= name %></td>
					<td class="data-list__item"><%= req.query[name] %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>
<footer class="footer">
	<p class="footer__text">ここはフッターコンテントです</p>
</footer>
<script src="./dist/js/vendor.js"></script>
<script src="./dist/js/app.js"></script>
</body>
</html>