<%# -*- coding: utf-8 -*-%>
<% require 'dbi' %>

<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>データの表示</title>
  <link rel="stylesheet" href="./dist/css/common.css" type="text/css">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
</head>
<body>
<header class="header">
  <p class="header__text"><a href="./">ここはヘッダーコンテントです</a></p>
</header>
<div class="player-manage--init">
  <div class="player-manage__heading">
    <h1 class="player-manage_title">打ち上げ花火下から見るか、横から見るか</h1>
    <p class="player-manage__processing">処理するデータを初期化します</p>
  </div>
  <ul class="menu-horizon">
    <li class="menu-horizon__item"><a href="./">メニューに戻る</a></li>
  </ul>
  <p class="player-manage__text">初期化しますか？初期化するなら実行を押してください</p>
  <form method="post" action="init">
    <input type="submit" class="c-action-button is-attention" value="実行">
  </form>
</div>
<footer class="footer">
  <p class="footer__text">ここはフッターコンテントです</p>
</footer>
<script src="./dist/js/vendor.js"></script>
<script src="./dist/js/app.js"></script>
</body>
</html>