<% require 'dbi' %>

<% dbh = DBI.connect('DBI:SQLite3:toinData.db') %>
<% @sth = dbh.execute("select * from toinData") %>
<html><body>
<ul>
	<% @sth.each do |row| %>
			<% row.each_with_name do |value, name| %>
					<li><%= "#{name} #{value.to_s}" %></li>
			<% end %>
	<% end %>
</ul>
</body></html>
