/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$droplet-3x-name: 'droplet-3x';
$droplet-3x-x: 0px;
$droplet-3x-y: 122px;
$droplet-3x-offset-x: 0px;
$droplet-3x-offset-y: -122px;
$droplet-3x-width: 24px;
$droplet-3x-height: 24px;
$droplet-3x-total-width: 170px;
$droplet-3x-total-height: 146px;
$droplet-3x-image: '../../../dist/img/sprite.png';
$droplet-3x: (0px, 122px, 0px, -122px, 24px, 24px, 170px, 146px, '../../../dist/img/sprite.png', 'droplet-3x', );
$eject-4x-name: 'eject-4x';
$eject-4x-x: 53px;
$eject-4x-y: 69px;
$eject-4x-offset-x: -53px;
$eject-4x-offset-y: -69px;
$eject-4x-width: 32px;
$eject-4x-height: 32px;
$eject-4x-total-width: 170px;
$eject-4x-total-height: 146px;
$eject-4x-image: '../../../dist/img/sprite.png';
$eject-4x: (53px, 69px, -53px, -69px, 32px, 32px, 170px, 146px, '../../../dist/img/sprite.png', 'eject-4x', );
$ellipses-3x-name: 'ellipses-3x';
$ellipses-3x-x: 58px;
$ellipses-3x-y: 122px;
$ellipses-3x-offset-x: -58px;
$ellipses-3x-offset-y: -122px;
$ellipses-3x-width: 24px;
$ellipses-3x-height: 24px;
$ellipses-3x-total-width: 170px;
$ellipses-3x-total-height: 146px;
$ellipses-3x-image: '../../../dist/img/sprite.png';
$ellipses-3x: (58px, 122px, -58px, -122px, 24px, 24px, 170px, 146px, '../../../dist/img/sprite.png', 'ellipses-3x', );
$envelope-closed-3x-name: 'envelope-closed-3x';
$envelope-closed-3x-x: 138px;
$envelope-closed-3x-y: 66px;
$envelope-closed-3x-offset-x: -138px;
$envelope-closed-3x-offset-y: -66px;
$envelope-closed-3x-width: 24px;
$envelope-closed-3x-height: 24px;
$envelope-closed-3x-total-width: 170px;
$envelope-closed-3x-total-height: 146px;
$envelope-closed-3x-image: '../../../dist/img/sprite.png';
$envelope-closed-3x: (138px, 66px, -138px, -66px, 24px, 24px, 170px, 146px, '../../../dist/img/sprite.png', 'envelope-closed-3x', );
$power-standby-8x-name: 'power-standby-8x';
$power-standby-8x-x: 0px;
$power-standby-8x-y: 0px;
$power-standby-8x-offset-x: 0px;
$power-standby-8x-offset-y: 0px;
$power-standby-8x-width: 64px;
$power-standby-8x-height: 64px;
$power-standby-8x-total-width: 170px;
$power-standby-8x-total-height: 146px;
$power-standby-8x-image: '../../../dist/img/sprite.png';
$power-standby-8x: (0px, 0px, 0px, 0px, 64px, 64px, 170px, 146px, '../../../dist/img/sprite.png', 'power-standby-8x', );
$print-3x-name: 'print-3x';
$print-3x-x: 29px;
$print-3x-y: 122px;
$print-3x-offset-x: -29px;
$print-3x-offset-y: -122px;
$print-3x-width: 24px;
$print-3x-height: 24px;
$print-3x-total-width: 170px;
$print-3x-total-height: 146px;
$print-3x-image: '../../../dist/img/sprite.png';
$print-3x: (29px, 122px, -29px, -122px, 24px, 24px, 170px, 146px, '../../../dist/img/sprite.png', 'print-3x', );
$puzzle-piece-3x-name: 'puzzle-piece-3x';
$puzzle-piece-3x-x: 138px;
$puzzle-piece-3x-y: 37px;
$puzzle-piece-3x-offset-x: -138px;
$puzzle-piece-3x-offset-y: -37px;
$puzzle-piece-3x-width: 24px;
$puzzle-piece-3x-height: 24px;
$puzzle-piece-3x-total-width: 170px;
$puzzle-piece-3x-total-height: 146px;
$puzzle-piece-3x-image: '../../../dist/img/sprite.png';
$puzzle-piece-3x: (138px, 37px, -138px, -37px, 24px, 24px, 170px, 146px, '../../../dist/img/sprite.png', 'puzzle-piece-3x', );
$spreadsheet-4x-name: 'spreadsheet-4x';
$spreadsheet-4x-x: 90px;
$spreadsheet-4x-y: 69px;
$spreadsheet-4x-offset-x: -90px;
$spreadsheet-4x-offset-y: -69px;
$spreadsheet-4x-width: 32px;
$spreadsheet-4x-height: 32px;
$spreadsheet-4x-total-width: 170px;
$spreadsheet-4x-total-height: 146px;
$spreadsheet-4x-image: '../../../dist/img/sprite.png';
$spreadsheet-4x: (90px, 69px, -90px, -69px, 32px, 32px, 170px, 146px, '../../../dist/img/sprite.png', 'spreadsheet-4x', );
$volume-off-8x-name: 'volume-off-8x';
$volume-off-8x-x: 69px;
$volume-off-8x-y: 0px;
$volume-off-8x-offset-x: -69px;
$volume-off-8x-offset-y: 0px;
$volume-off-8x-width: 64px;
$volume-off-8x-height: 64px;
$volume-off-8x-total-width: 170px;
$volume-off-8x-total-height: 146px;
$volume-off-8x-image: '../../../dist/img/sprite.png';
$volume-off-8x: (69px, 0px, -69px, 0px, 64px, 64px, 170px, 146px, '../../../dist/img/sprite.png', 'volume-off-8x', );
$warning-4x-name: 'warning-4x';
$warning-4x-x: 138px;
$warning-4x-y: 0px;
$warning-4x-offset-x: -138px;
$warning-4x-offset-y: 0px;
$warning-4x-width: 32px;
$warning-4x-height: 32px;
$warning-4x-total-width: 170px;
$warning-4x-total-height: 146px;
$warning-4x-image: '../../../dist/img/sprite.png';
$warning-4x: (138px, 0px, -138px, 0px, 32px, 32px, 170px, 146px, '../../../dist/img/sprite.png', 'warning-4x', );
$wifi-6x-name: 'wifi-6x';
$wifi-6x-x: 0px;
$wifi-6x-y: 69px;
$wifi-6x-offset-x: 0px;
$wifi-6x-offset-y: -69px;
$wifi-6x-width: 48px;
$wifi-6x-height: 48px;
$wifi-6x-total-width: 170px;
$wifi-6x-total-height: 146px;
$wifi-6x-image: '../../../dist/img/sprite.png';
$wifi-6x: (0px, 69px, 0px, -69px, 48px, 48px, 170px, 146px, '../../../dist/img/sprite.png', 'wifi-6x', );
$wrench-3x-name: 'wrench-3x';
$wrench-3x-x: 87px;
$wrench-3x-y: 122px;
$wrench-3x-offset-x: -87px;
$wrench-3x-offset-y: -122px;
$wrench-3x-width: 24px;
$wrench-3x-height: 24px;
$wrench-3x-total-width: 170px;
$wrench-3x-total-height: 146px;
$wrench-3x-image: '../../../dist/img/sprite.png';
$wrench-3x: (87px, 122px, -87px, -122px, 24px, 24px, 170px, 146px, '../../../dist/img/sprite.png', 'wrench-3x', );
$yen-2x-name: 'yen-2x';
$yen-2x-x: 138px;
$yen-2x-y: 95px;
$yen-2x-offset-x: -138px;
$yen-2x-offset-y: -95px;
$yen-2x-width: 16px;
$yen-2x-height: 16px;
$yen-2x-total-width: 170px;
$yen-2x-total-height: 146px;
$yen-2x-image: '../../../dist/img/sprite.png';
$yen-2x: (138px, 95px, -138px, -95px, 16px, 16px, 170px, 146px, '../../../dist/img/sprite.png', 'yen-2x', );
$spritesheet-width: 170px;
$spritesheet-height: 146px;
$spritesheet-image: '../../../dist/img/sprite.png';
$spritesheet-sprites: ($droplet-3x, $eject-4x, $ellipses-3x, $envelope-closed-3x, $power-standby-8x, $print-3x, $puzzle-piece-3x, $spreadsheet-4x, $volume-off-8x, $warning-4x, $wifi-6x, $wrench-3x, $yen-2x, );
$spritesheet: (170px, 146px, '../../../dist/img/sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
