/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$arrow-left-h-name: 'arrowLeft_h';
$arrow-left-h-x: 194px;
$arrow-left-h-y: 220px;
$arrow-left-h-offset-x: -194px;
$arrow-left-h-offset-y: -220px;
$arrow-left-h-width: 30px;
$arrow-left-h-height: 30px;
$arrow-left-h-total-width: 445px;
$arrow-left-h-total-height: 268px;
$arrow-left-h-image: 'sprite.png';
$arrow-left-h: (194px, 220px, -194px, -220px, 30px, 30px, 445px, 268px, 'sprite.png', 'arrowLeft_h', );
$arrow-right-h-name: 'arrowRight_h';
$arrow-right-h-x: 159px;
$arrow-right-h-y: 220px;
$arrow-right-h-offset-x: -159px;
$arrow-right-h-offset-y: -220px;
$arrow-right-h-width: 30px;
$arrow-right-h-height: 30px;
$arrow-right-h-total-width: 445px;
$arrow-right-h-total-height: 268px;
$arrow-right-h-image: 'sprite.png';
$arrow-right-h: (159px, 220px, -159px, -220px, 30px, 30px, 445px, 268px, 'sprite.png', 'arrowRight_h', );
$facebook-name: 'facebook';
$facebook-x: 0px;
$facebook-y: 220px;
$facebook-offset-x: 0px;
$facebook-offset-y: -220px;
$facebook-width: 48px;
$facebook-height: 48px;
$facebook-total-width: 445px;
$facebook-total-height: 268px;
$facebook-image: 'sprite.png';
$facebook: (0px, 220px, 0px, -220px, 48px, 48px, 445px, 268px, 'sprite.png', 'facebook', );
$fish-name: 'fish';
$fish-x: 229px;
$fish-y: 220px;
$fish-offset-x: -229px;
$fish-offset-y: -220px;
$fish-width: 15px;
$fish-height: 9px;
$fish-total-width: 445px;
$fish-total-height: 268px;
$fish-image: 'sprite.png';
$fish: (229px, 220px, -229px, -220px, 15px, 9px, 445px, 268px, 'sprite.png', 'fish', );
$sub-nav01-name: 'subNav01';
$sub-nav01-x: 0px;
$sub-nav01-y: 55px;
$sub-nav01-offset-x: 0px;
$sub-nav01-offset-y: -55px;
$sub-nav01-width: 220px;
$sub-nav01-height: 50px;
$sub-nav01-total-width: 445px;
$sub-nav01-total-height: 268px;
$sub-nav01-image: 'sprite.png';
$sub-nav01: (0px, 55px, 0px, -55px, 220px, 50px, 445px, 268px, 'sprite.png', 'subNav01', );
$sub-nav01-h-name: 'subNav01_h';
$sub-nav01-h-x: 0px;
$sub-nav01-h-y: 110px;
$sub-nav01-h-offset-x: 0px;
$sub-nav01-h-offset-y: -110px;
$sub-nav01-h-width: 220px;
$sub-nav01-h-height: 50px;
$sub-nav01-h-total-width: 445px;
$sub-nav01-h-total-height: 268px;
$sub-nav01-h-image: 'sprite.png';
$sub-nav01-h: (0px, 110px, 0px, -110px, 220px, 50px, 445px, 268px, 'sprite.png', 'subNav01_h', );
$sub-nav02-name: 'subNav02';
$sub-nav02-x: 0px;
$sub-nav02-y: 165px;
$sub-nav02-offset-x: 0px;
$sub-nav02-offset-y: -165px;
$sub-nav02-width: 220px;
$sub-nav02-height: 50px;
$sub-nav02-total-width: 445px;
$sub-nav02-total-height: 268px;
$sub-nav02-image: 'sprite.png';
$sub-nav02: (0px, 165px, 0px, -165px, 220px, 50px, 445px, 268px, 'sprite.png', 'subNav02', );
$sub-nav02-h-name: 'subNav02_h';
$sub-nav02-h-x: 0px;
$sub-nav02-h-y: 0px;
$sub-nav02-h-offset-x: 0px;
$sub-nav02-h-offset-y: 0px;
$sub-nav02-h-width: 220px;
$sub-nav02-h-height: 50px;
$sub-nav02-h-total-width: 445px;
$sub-nav02-h-total-height: 268px;
$sub-nav02-h-image: 'sprite.png';
$sub-nav02-h: (0px, 0px, 0px, 0px, 220px, 50px, 445px, 268px, 'sprite.png', 'subNav02_h', );
$sub-nav03-name: 'subNav03';
$sub-nav03-x: 225px;
$sub-nav03-y: 55px;
$sub-nav03-offset-x: -225px;
$sub-nav03-offset-y: -55px;
$sub-nav03-width: 220px;
$sub-nav03-height: 50px;
$sub-nav03-total-width: 445px;
$sub-nav03-total-height: 268px;
$sub-nav03-image: 'sprite.png';
$sub-nav03: (225px, 55px, -225px, -55px, 220px, 50px, 445px, 268px, 'sprite.png', 'subNav03', );
$sub-nav03-h-name: 'subNav03_h';
$sub-nav03-h-x: 225px;
$sub-nav03-h-y: 110px;
$sub-nav03-h-offset-x: -225px;
$sub-nav03-h-offset-y: -110px;
$sub-nav03-h-width: 220px;
$sub-nav03-h-height: 50px;
$sub-nav03-h-total-width: 445px;
$sub-nav03-h-total-height: 268px;
$sub-nav03-h-image: 'sprite.png';
$sub-nav03-h: (225px, 110px, -225px, -110px, 220px, 50px, 445px, 268px, 'sprite.png', 'subNav03_h', );
$sub-nav04-name: 'subNav04';
$sub-nav04-x: 225px;
$sub-nav04-y: 165px;
$sub-nav04-offset-x: -225px;
$sub-nav04-offset-y: -165px;
$sub-nav04-width: 220px;
$sub-nav04-height: 50px;
$sub-nav04-total-width: 445px;
$sub-nav04-total-height: 268px;
$sub-nav04-image: 'sprite.png';
$sub-nav04: (225px, 165px, -225px, -165px, 220px, 50px, 445px, 268px, 'sprite.png', 'subNav04', );
$sub-nav04-h-name: 'subNav04_h';
$sub-nav04-h-x: 225px;
$sub-nav04-h-y: 0px;
$sub-nav04-h-offset-x: -225px;
$sub-nav04-h-offset-y: 0px;
$sub-nav04-h-width: 220px;
$sub-nav04-h-height: 50px;
$sub-nav04-h-total-width: 445px;
$sub-nav04-h-total-height: 268px;
$sub-nav04-h-image: 'sprite.png';
$sub-nav04-h: (225px, 0px, -225px, 0px, 220px, 50px, 445px, 268px, 'sprite.png', 'subNav04_h', );
$twitter-name: 'twitter';
$twitter-x: 53px;
$twitter-y: 220px;
$twitter-offset-x: -53px;
$twitter-offset-y: -220px;
$twitter-width: 48px;
$twitter-height: 48px;
$twitter-total-width: 445px;
$twitter-total-height: 268px;
$twitter-image: 'sprite.png';
$twitter: (53px, 220px, -53px, -220px, 48px, 48px, 445px, 268px, 'sprite.png', 'twitter', );
$youtube-name: 'youtube';
$youtube-x: 106px;
$youtube-y: 220px;
$youtube-offset-x: -106px;
$youtube-offset-y: -220px;
$youtube-width: 48px;
$youtube-height: 48px;
$youtube-total-width: 445px;
$youtube-total-height: 268px;
$youtube-image: 'sprite.png';
$youtube: (106px, 220px, -106px, -220px, 48px, 48px, 445px, 268px, 'sprite.png', 'youtube', );
$spritesheet-width: 445px;
$spritesheet-height: 268px;
$spritesheet-image: 'sprite.png';
$spritesheet-sprites: ($arrow-left-h, $arrow-right-h, $facebook, $fish, $sub-nav01, $sub-nav01-h, $sub-nav02, $sub-nav02-h, $sub-nav03, $sub-nav03-h, $sub-nav04, $sub-nav04-h, $twitter, $youtube, );
$spritesheet: (445px, 268px, 'sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Here are example usages in HTML:

`display: block` sprite:
<div class="icon-home"></div>

`display: inline-block` sprite:
<img class="icon-home" />
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
